* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: #123b70;
  background: #fff;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #ffffff;
  padding: 15px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 21px;
  font-weight: 800;
  color: #064b91;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #123b70;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #d99a19;
}

/* HOME */
.hero {
  min-height: 90vh;
  padding: 60px 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: linear-gradient(
    135deg,
    #f7fbff 0%,
    #ffffff 55%,
    #fff8e8 100%
  );
}

.hero-logo {
  width: 240px;
  height: 240px;
  object-fit: contain;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.hero h1 {
  font-size: 46px;
  line-height: 1.15;
  color: #064b91;
  max-width: 850px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;
  font-size: 19px;
  color: #555;
  margin-bottom: 32px;
}

.btn {
  display: inline-block;
  background: #d99a19;
  color: #fff;
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(217, 154, 25, 0.25);
}

.btn:hover {
  background: #064b91;
  transform: translateY(-3px);
}

/* SECTIONS */
.about,
.programs,
.contact {
  padding: 85px 8%;
  text-align: center;
}

.about {
  background: #f7fbff;
}

h2 {
  font-size: 34px;
  color: #064b91;
  margin-bottom: 20px;
}

.about p {
  max-width: 750px;
  margin: auto;
  color: #555;
  font-size: 18px;
}

/* PROGRAMS */
.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  width: 280px;
  padding: 32px 22px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  border-top: 4px solid #d99a19;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  color: #064b91;
  margin-bottom: 12px;
}

.card p {
  color: #555;
}

/* CONTACT */
.contact {
  background: #064b91;
  color: #fff;
}

.contact h2 {
  color: #fff;
}

.contact p {
  margin-bottom: 25px;
}

/* FOOTER */
footer {
  background: #062f5d;
  color: #fff;
  text-align: center;
  padding: 24
